# Miscellaneous
HaloWarsDE Mod Manager/.vs
HaloWarsDE Mod Manager/__Installer
HaloWarsDE Mod Manager/__Other Art
HaloWarsDE Mod Manager/_7zip
HaloWarsDE Mod Manager/_Build
HaloWarsDE Mod Manager/WebScraper
HaloWarsDE Mod Manager/MigrationBackup

# UWP.ProcFetcher
HaloWarsDE Mod Manager/UWP.ProcFetcher/bin
HaloWarsDE Mod Manager/UWP.ProcFetcher/obj

# ModManifestMaker
HaloWarsDE Mod Manager/ModManifestMaker/bin
HaloWarsDE Mod Manager/ModManifestMaker/obj

# AutoUpdater
HaloWarsDE Mod Manager/_AutoUpdater

# Mod Manager
HaloWarsDE Mod Manager/HaloWarsDE Mod Manager/bin
HaloWarsDE Mod Manager/HaloWarsDE Mod Manager/obj

# Files

# File Extensions
*.old
*.pdn
desktop.ini
