# Miscellaneous
_OLD
HaloWarsDE Mod Manager/.vs
HaloWarsDE Mod Manager/_LatestBuild

# ModManifestMaker
HaloWarsDE Mod Manager/Mod Manifest Maker/bin
HaloWarsDE Mod Manager/Mod Manifest Maker/obj

# AutoUpdater
HaloWarsDE Mod Manager/AutoUpdater/bin
HaloWarsDE Mod Manager/AutoUpdater/obj

# Mod Manager
HaloWarsDE Mod Manager/HaloWarsDE Mod Manager/bin
HaloWarsDE Mod Manager/HaloWarsDE Mod Manager/obj

# Files

# File Extensions
*.old
*.pdn
desktop.ini
